
\.idea/\.name

\.idea/compiler\.xml

\.idea/encodings\.xml

\.idea/libraries/Maven__com_beust_jcommander_1_12\.xml

\.idea/libraries/Maven__com_carrotsearch_hppc_0_7_1\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_10\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_10\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_10\.xml

\.idea/libraries/Maven__com_tdunning_t_digest_3_2\.xml

\.idea/libraries/Maven__commons_codec_commons_codec_1_10\.xml

\.idea/libraries/Maven__joda_time_joda_time_2_9_9\.xml

\.idea/libraries/Maven__junit_junit_3_8_1\.xml

\.idea/libraries/Maven__net_sf_jopt_simple_jopt_simple_5_0_2\.xml

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_phonetic_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_core_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_join_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_3_1\.xml

\.idea/libraries/Maven__org_beanshell_bsh_2_0b4\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_jna_4_5_1\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3_RC2\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3_RC2\.xml

\.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9\.xml

\.idea/libraries/Maven__org_testng_testng_6_3_1\.xml

\.idea/libraries/Maven__org_yaml_snakeyaml_1_6\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

elasticsearch-fonetica-portuguesa\.iml
