
\.idea/\.name

\.idea/compiler\.xml

\.idea/encodings\.xml

\.idea/libraries/Maven__com_beust_jcommander_1_12\.xml

\.idea/libraries/Maven__com_carrotsearch_hppc_0_7_1\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_10\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_10\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_10\.xml

\.idea/libraries/Maven__com_tdunning_t_digest_3_2\.xml

\.idea/libraries/Maven__commons_codec_commons_codec_1_10\.xml

\.idea/libraries/Maven__joda_time_joda_time_2_9_9\.xml

\.idea/libraries/Maven__junit_junit_3_8_1\.xml

\.idea/libraries/Maven__net_sf_jopt_simple_jopt_simple_5_0_2\.xml

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_phonetic_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_core_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_join_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_3_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_3_1\.xml

\.idea/libraries/Maven__org_beanshell_bsh_2_0b4\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_6_3_0\.xml

\.idea/libraries/Maven__org_elasticsearch_jna_4_5_1\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3_RC2\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3_RC2\.xml

\.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9\.xml

\.idea/libraries/Maven__org_testng_testng_6_3_1\.xml

\.idea/libraries/Maven__org_yaml_snakeyaml_1_6\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

elasticsearch-fonetica-portuguesa\.iml

\.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_11\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_11\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_11\.xml

\.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_11\.xml

\.idea/libraries/Maven__joda_time_joda_time_2_10_1\.xml

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_1\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_core_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_grouping_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_join_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_memory_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_misc_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_queries_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial_extras_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_7_5_0\.xml

\.idea/libraries/Maven__org_apache_lucene_lucene_suggest_7_5_0\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_5_1\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_5_1\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_5_1\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_6_5_1\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_6_5_1\.xml

target/classes/com/attornatus/es/FoneticaPortuguesa\.class

target/classes/com/attornatus/es/FoneticaPortuguesa\$EncoderLetterByLetter\.class

target/elasticsearch-fonetica-portuguesa-0\.0\.1-sources\.jar

target/elasticsearch-fonetica-portuguesa-0\.0\.1\.jar

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles\.lst

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles\.lst

target/releases/elasticsearch-fonetica-portuguesa-0\.0\.1\.zip

target/surefire-reports/com\.attornatus\.es\.FoneticaPortuguesaTests\.txt

target/surefire-reports/emailable-report\.html

target/surefire-reports/junitreports/TEST-com\.attornatus\.es\.FoneticaPortuguesaTests\.xml

target/surefire-reports/Surefire suite/methods-alphabetical\.html

target/surefire-reports/Surefire suite/methods\.html

target/surefire-reports/Surefire suite/Surefire test\.html

target/surefire-reports/Surefire suite/Surefire test\.xml

target/surefire-reports/TEST-com\.attornatus\.es\.FoneticaPortuguesaTests\.xml

target/surefire-reports/testng-results\.xml

\.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec

\.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d

\.idea/sonarlint/issuestore/b/e/be94191cbd64eca90df40628ba66933189d6c355

\.idea/sonarlint/issuestore/e/0/e0eb336f8db22f5712f155031d7a920795e077ca

\.idea/sonarlint/issuestore/e/d/edc7465361dbb5a3fccd58d0088f9d73cff9f173

\.idea/sonarlint/issuestore/index\.pb

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_6_5_2\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_6_5_2\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_6_5_2\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_6_5_2\.xml

\.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_6_5_2\.xml
